& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-single-vc"] {
        .pizzeria {
            .map {
                height: 40vh;
                min-height: 15em;
            }

            .title {
                color: @red;
                text-align: center;

                .favorite {
                    width: 0.55em;
                    height: 0.55em;
                    vertical-align: 10px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.65;
                    }
                }
            }

            p {
                text-align: center;
            }

            a {
                color: @red;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
