& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-single-vc"] {
        .pizzeria {
            .map {
                height: 40vh;
                min-height: 15em;
            }

            .details {
                text-align: center;
                padding: 0 1em;

                a {
                    color: @red;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                
                .title {
                    color: @red;
                    margin-bottom: 0.15em;
                    line-height: 1.25em;

                    .favorite {
                        width: 0.55em;
                        height: 0.55em;
                        vertical-align: 10px;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.65;
                        }
                    }
                }

                .address {
                    color: lightslategrey;
                    font-style: italic;
                    margin-top: 0;
                }

                .info {
                    margin-top: 2.25em;
                }

                .back {
                    color: lightslategrey;
                    font-family: @font-header;
                    font-size: 1.25em;
                    margin-top: 4em;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 0.85em;
                        height: 0.85em;
                        vertical-align: -2px;
                        margin-right: 0.45em;
                    }
                }
            }
        }
    }
}
